{% extends 'base.html' %}
{% block content %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">{{page_title}}</h1>
      </div>
    </div>  
    <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-40 mb-80">
      {% if request.user.is_staff %}
        {{ form.media }}
  	    <form method="POST" action="." enctype="multipart/form-data">
    		  {% csrf_token %}
          {{ form |as_bootstrap }}
          <button type="submit" class="nav-btn btn-big"><i class="lni-check-mark-circle"></i> Submit</button>
        </form>
      {% else %}
       <a href="{% url 'account_login' %}?next={% firstof request.path '/' %}" class="btn btn-primary">Login to add a post</a>
      {% endif %}
    </div>
  </div>
</div>
  
{% endblock %}