{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Error Page</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row mt-2 mb-5 about-quote-section">
                    <div class="col-12">
                        <h4 class="text-center">We're sorry, but we can't find the page you were looking for.</h4>
                        <p class="text-center">It's probably some thing we've done wrong :(</p>
                        <p class="text-center"><a href="/">Return to Homepage</a></p>
                    </div>
                </div>
            </div>
 
  </div>
</div>
</div>
{% endblock %}