{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">About</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
    <section>
        <div class="container">
            <div class="row mt-2 mb-5 about-quote-section">
                <div class="col-12">
                    <p class="text-center">I opened Headford Wellbeing Centre with my main aim being to help everyone who visits the centre to see their own potential to re-establish balance, harmony and health on a physical, mental and emotional level. I have brought a variety of classes/ therapies and workshops together to help you achieve this. I would like to share my 15 years experience in Fitness, Yoga and Energy work with you where I have experienced much personal growth over the years.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <h2 class="section-heading text-center text-md-left">YOGA AND MEDITATION</h3>
                    <p>I have practised and trained in many classes around the world from Australia to Los Angles as a personal trainer / fitness instructor and in various types of yoga (Bikram Hot Yoga/Ashanga Yoga/ Vipassana Meditation) initially purely for strength, flexibility and toning but once I started to discover meditation I realised there was a much deeper meaning to yoga.</p>
                    <p>Through Yoga and Meditation we learn to understand our true nature and learn to live in harmony. A sense of well-being, good health, fulfilling relationships, energy and enthusiasm for life comes about and we find that we are more aware, present and confident in body and mind, being able to relax more deeply.</p>
                    <p>Yoga and Meditation are invaluable tools for life, an inner journey which we grow and expand with for the rest of our lives.</p>
                    <p>I further continue my yoga training by attending workshops with some of the worlds top Yoga Instructors such as David Swenson(USA), Grenville Counsins(U.K.) , Dave Robson and Dave Gelleneem (Canada), Richard Spahn(U.K.)Venkatesh(India).</p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <img src="static/img/niamh-jones-2.jpg" alt="Niamh Jones, Headford Wellbeing Centre">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2 class="section-heading  text-center text-md-left">PILATES</h2>
                    <p>During my Yoga Journey I found myself attracted to the grace and precision of Pilates. In particular the emphasis on correct alignment and focus on building core strength and balance which helps alleviate back injuries.</p>
                    <p>Coming from a dance background I enjoyed the grace, skill and suppleness of Pilates which lead me to train as a Pilates Instructor with Progressive Pilates Academy. Also after the birth of my son I found it to be an excellent and therapeutic system of exercise to help regain my core strength.</p>
                    <p>I have found the blend of both Yoga and Pilates complement each other hugely and this is mirrored in the fact that it has become the most popular class at the centre.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="section-heading text-center text-md-left">REIKI / SHAMANIC HEALING</h2>
                    <p>Over the years I have also trained as a Reiki and Seichem Practitioner and Master which brought about huge life changes for me and lead me on to train as a Shamanic Practitioner.</p>
                    <p>Through the practise of Shamanism my passion for nature has intensified and I have had very profound experiences and positive changes in my life. Recently I had the privilege and very special experience of sharing ritual space with Shaman, Dona Maria Apaza from the Q’ero Paqos Tribe, Peru.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <h2 class="section-heading text-center text-md-left">FOR YOU</h2>
                    <p>So through Headford Wellbeing Centre I would like to share the tools to help you to live your life to your full potential, have a positive outlook and a healthy strong body so as to feel confident about yourself along with having good health and wellbeing. Over the years I have seen my students transformed which in turn encourages me to continue teaching, giving my students a much better quality of life.</p>
                    <p>I wish to thank all my teachers, students, friends and family who have helped me grow personally and professionally along the way.</p>
                    <p>All the teachers and massage Therapists at Headford Wellbeing Centre are fully qualified and trained to the highest level and are committed to providing classes of the highest level.</p>
                    <p><strong>Om Shanti, Niamh</strong></p>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <img src="static/img/shamanic-niamh.jpg" alt="Niamh Jones, Headford Wellbeing Centre">
                </div>
            </div>
        </div>
    </section>    
    <section>
        <div class="container about-gallery mt-5 mb-5">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-heading text-center">INSIDE OUR CENTRE</h2>
                    	<div class="gal">
                            <img src="static/img/headford-wellbeing-centre-studio-2.jpg" alt="Niamh Jones, Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-3.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-4.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-5.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-6.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-7.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-9.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-10.jpg" alt="Students at the Headford Wellbeing Centre">
                            <img src="static/img/headford-wellbeing-centre-studio-11.jpg" alt="Students at the Headford Wellbeing Centre">      
                            <img src="static/img/headford-wellbeing-centre-studio-12.jpg" alt="Students at the Headford Wellbeing Centre">      
                            <img src="static/img/headford-wellbeing-centre-studio-13.jpg" alt="Students at the Headford Wellbeing Centre">      
                    	</div>                    
                </div>
            </div>
        </div>
    </section>            
        </div>
    </div>
</div>
{% endblock %}