{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Bikram Hot Yoga</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
        <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="section-heading text-uppercase mb-3">What to expect in a typical class:</h3>
                    <p>This is a routine of 26 yoga postures, which works the whole body. This is an exhilarating class flowing from posture to posture stretching and toning every part of the body from the inside and out. Practised in a heated room to help you sweat out toxins, help you stretch deeper into postures avoiding injury and with the potential to lose up to 1,000 calories per class.</p>
                    <p>Also throughout the 8 week courses we incorporate Vinyasa Flow Yoga in the heat to change things around and strengthen and tone different muscles.</p>
                    <p>At the studio we have installed Longwave Infrared Heaters as used by Physiotherapists which are regarded as the most therapeutic heat available heating the body the same as natural sun light.</p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="{% static 'img/bikram-hot-yoga-image.jpg' %}" class="class-image" alt="Bikram Hot Yoga">
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 p-5 class-benefits">
                    <h3 class="section-heading text-uppercase mb-3">Benefits:</h3>
                    <ul class="class-details">
                        <li>Stretches and Tones every muscle in the body</li>
                        <li>Promotes weight loss (potential to lose up to 1,000 calories per class)</li>
                        <li>Regulates cholesterol in the blood</li>
                        <li>Supplies oxygen and nutrients to parts of the body that have been blocked or stagnant</li>
                        <li>Eliminates toxins</li>
                        <li>Flushes the lymphatic system</li>
                        <li>Strengthens the immune system</li>
                        <li>Balances the endocrine glands</li>
                        <li>Improves the spine flexibility and health</li>
                        <li>Expands lung capacity and strengthens bones</li>
                        <li>Increased Energy and general well being</li>
                        <li>Reduces stress and anxiety</li>
                        <li>Better concentration</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 p-5 class-who-its-for">
                    <h3 class="section-heading text-uppercase mb-3">Who is it for?</h3>
                    <p><strong>This class is for everyone from the complete beginner to the more experienced practitioner.</strong> Each posture is designed to have different levels from beginner to intermediate so there is a position for everyone at every level. If you want to increase your flexibility, strength, toning, lose weight, recover from injury, improve your health, relieve stress and change your life, Bikram Yoga is for you!</p>
                    <p>It is particularly good for many conditions such as asthma , back problems, poor circulation, injuries such as knee, shoulder or neck, Arthritis etc.</p>
                    <p><strong>Athletics/Sports people benefit hugely from Bikram Hot Yoga.</strong> Whether you run, cycle, play rugby, football, hurling, tennis, golf or whatever your sport may be Hot Yoga will help to enhance your game and give you that edge above the rest. The heat improves flexibility, strength, endurance and concentration/focus giving you far greater range of motion as well as helping to prevent injuries or heal old injuries.</p>
                    <p>Niamh has worked and had great success with professional sports men over the years, one of her more successful clients was Bernard Jackman who plays for the Irish Rugby team. </p>
                </div>                
            </div>
        </div>
    </section>
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading text-center text-uppercase mb-3"> What exactly is Bikram Hot Yoga and why the heat?</h3>
                    <p>It has been proved and experienced by millions that these 26 postures systematically work every part of the body, to give all the internal organs, all the veins, all the ligaments, and all the muscles everything they need to maintain optimum health and maximum function. Yoga changes the construction of the body from the inside out, from bones to skin and from fingertips to toes. So before you change it, you have to heat it up to soften it, because a warm body is a flexible body. Then you can reshape the body any way you want.</p>
                    <p>Hot Yoga flushes away the waste products, the toxins of all the glands and organs of your body. It provides a natural irrigation of the body through the circulatory system, with the help of the respiratory system. It brings nourishments to every cell of your body so that each one can perform its function and keep your body healthy. Bikram Yoga also employs heat to further that cleaning process: When you sweat, impurities are flushed out of the body through the skin.</p>
                    <p>Practicing yoga not only increases our supplies of oxygen, but it also teaches us how to use that oxygen properly - we learn to control the breath through pranayama.</p>
                </div>
            </div>
        </div>
    </section>              
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}
