{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" style="padding:0px">
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
      {% for slide in slides %}
        {% if forloop.first %} 
          <div class="carousel-item active">
            <img src="{{slide.image.url}}" alt="{{slide.title}}" width="100%" height="500">
            <div class="carousel-caption {{slide.headline_alignment}}">
              <div class="homepage-title-content">
                <div class="section-pre-title">{{slide.subtitle}}</div>
                  <h2 class="section-title">{{slide.title}}</h2>
                  <button class="btn btn-teal mt-20"><a href="#">{{slide.button}}</a></button>
              </div>
            </div>
          </div>
          {% else %}
            <div class="carousel-item">
              <img src="{{slide.image.url}}" alt="{{slide.title}}" width="100%" height="500">
              <div class="carousel-caption {{slide.headline_alignment}}">
                <div class="homepage-title-content">
                  <div class="section-pre-title">{{slide.subtitle}}</div>
                    <h2 class="section-title">{{slide.title}}</h2>
                    <button class="btn btn-teal mt-20"><a href="#">{{slide.button}}</a></button>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div> 
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#homepage-carousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#homepage-carousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-4 col-sm-12 homepage-info-box-1">
                Testing
            </div>
              <div class="col-md-4 col-sm-12 homepage-info-box-2">
                Testing
            </div>
              <div class="col-md-4 col-sm-12 homepage-info-box-3">
                Testing
            </div>            
        </div>
    </div>
              </div>
    <div class="page-section page-section-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="homepage-title-content">
                        <div class="section-pre-title">News</div>
                        <h2 class="section-title">Latest from our Blog</h2>
                    </div>
                    <div class="row">
                        {% for item in queryset %}
                          <div class="col-md-4">
                            <div class="post">
                              <a class="post-img" href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" alt="{{item.title}}"></a>
                              <div class="post-body">
                                <div class="post-category">
                                  {% for cat in item.categories.all %}
                                    <a href="{% url 'list_blog_by_category' cat.slug %}">{{cat.title}}</a>
                                  {% endfor %}
                                </div>
                                <h3 class="post-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h3>
                                  <ul class="post-meta">
                                    <li>{{item.published|date:"F j, Y"}}, <i class="lni-eye"></i> {{item.views}} </li>
                                    <li class="blog-blurb">{{item.content|truncatewords:20 | safe}}</li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga practice today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class pack now</a>
                </div>                
            </div>
    </div>  
  </div>
</div>

{% endblock %}