{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding:0px">
    <!--Homepage Carousel-->
    <div id="homepage-carousel" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
      {% for slide in slides %}
        {% if forloop.first %} 
          <div class="carousel-item active">
            <img src="{{slide.image.url}}" alt="{{slide.title}}" width="100%" class="carousel-image">
            <div class="carousel-caption {{slide.headline_alignment}}">
              <div class="homepage-title-content">
                <div class="section-pre-title">{{slide.subtitle}}</div>
                  <h2 class="section-title">{{slide.title}}</h2>
                  <button class="btn btn-teal mt-20"><a href="{{slide.urlpath}}">{{slide.button}}</a></button>
              </div>
            </div>
          </div>
          {% else %}
            <div class="carousel-item">
              <img src="{{slide.image.url}}" alt="{{slide.title}}" width="100%" class="carousel-image">
              <div class="carousel-caption {{slide.headline_alignment}}">
                <div class="homepage-title-content">
                  <div class="section-pre-title">{{slide.subtitle}}</div>
                    <h2 class="section-title">{{slide.title}}</h2>
                    <button class="btn btn-teal mt-20"><a href="{{slide.urlpath}}">{{slide.button}}</a></button>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div> 
    </div>
    <!--Info Boxes Below Homepage Carousel-->
    <div class="container-fluid">
        <div class="row">
          <a class="no-decoration col-md-4 col-sm-12 homepage-info-box-1 hoverinfobox_background hoverinfobox" href="what-do-i-need/">
              <div class="box-section-pre-title">What I Need?</div>
              <div class="hoverinfobox-layer_top hoverinfobox-layer_slideleft">
            	<div class="hoverinfobox-text">Some helpful information if you are new to the centre including tips on eating before classes, what type of clothing to wear, where to park your car and how to get the most out of your experience.
            	  <div class="hoverinfobox-text_mobile">Tap again to go further</div>
            	</div>
            </div>
          </a>
          <a class="no-decoration col-md-4 col-sm-12 homepage-info-box-2 hoverinfobox_background hoverinfobox" href="about/">
              <div class="box-section-pre-title">About our Centre</div>
              <div class="hoverinfobox-layer_top hoverinfobox-layer_slideleft">
            	<div class="hoverinfobox-text">I opened Headford Wellbeing Centre with my main aim being to help everyone who visits the centre to see their own potential to re-establish balance, harmony and health on a physical, mental and emotional level.
            	  <div class="hoverinfobox-text_mobile">Tap again to go further</div>
            	</div>
            </div>
          </a>
          <a class="no-decoration col-md-4 col-sm-12 homepage-info-box-3 hoverinfobox hoverinfobox_background" href="reformer-bed/">
              <div class="box-section-pre-title">Reformer Bed</div>
            	  <div class="hoverinfobox-layer_top hoverinfobox-layer_slideleft">
            		  <div class="hoverinfobox-text">We offer affordable 1 hour private one-on-one classes . If you are looking for a personalised program to achieve certain goals quickly, safely and effectively at a time which suits you then private classes are for you. 
            			<div class="hoverinfobox-text_mobile">Tap again to go further</div>
            		</div>
            	</div>
            </a>
        </div>
    </div>
    <!--Homepage Blog Display-->
    <div class="page-section page-section-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="homepage-title-content">
                        <div class="section-pre-title">News</div>
                        <h2 class="section-title">Latest from our Blog</h2>
                    </div>
                    <div class="row">
                        {% for item in queryset %}
                          <div class="col-md-4">
                            <div class="post">
                              <a class="post-img" href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" alt="{{item.title}}"></a>
                              <div class="post-body">
                                <div class="post-category">
                                  {% for cat in item.categories.all %}
                                    <a href="{% url 'list_blog_by_category' cat.slug %}">{{cat.title}}</a>
                                  {% endfor %}
                                </div>
                                <h3 class="post-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h3>
                                  <ul class="post-meta">
                                    <li>{{item.published|date:"F j, Y"}}, <i class="lni-eye"></i> {{item.views}} </li>
                                    <li class="blog-blurb">{{item.content|truncatewords:20 | safe}}</li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Workshops and Events Section-->
    <div class="homepage-events-section">
      <div class="page-section event-section col-md-6 col-sm-12 p-5" style="background:rgba(157,99,129,0.9)">
        <div class="container">
            <div class="row">
              <div class="homepage-title-content-white p-3">
                <div class="section-pre-title">Events</div>
                  <h2 class="section-title">Upcoming Workshops</h2>
                  {% for event in upcoming_workshops %}
                  <div class="homepage-event-white-box">
                     <h4><a href="{{ event.get_absolute_url }}">{{event.title}}</a></h4>
                     <p><i class="lni-coin purple-icon"></i> &euro;{{event.price}} <i class="lni-timer purple-icon"></i> {{event.workshop_start_date|date:"M d, Y"}}, {{event.workshop_start_time}}</p>
                     <p>{{event.description|truncatewords:30 | safe}}</p>
                  </div>
                  {% endfor %}
                  <a href="/workshops/" alt="Workshops" class="btn btn-teal">VIEW ALL EVENTS</a>
                </div>
              </div>
        </div>
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}