{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding:0px">
    <div class="page-section page-section-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="homepage-title-content">
                        <div class="section-pre-title">News</div>
                        <h2 class="section-title">Latest from our Blog</h2>
                    </div>
                    <div class="row">
                        {% for item in queryset %}
                          <div class="col-md-4">
                            <div class="post">
                              <a class="post-img" href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" alt="{{item.title}}"></a>
                              <div class="post-body">
                                <div class="post-category">
                                  {% for cat in item.categories.all %}
                                    <a href="{% url 'list_blog_by_category' cat.slug %}">{{cat.title}}</a>
                                  {% endfor %}
                                </div>
                                <h3 class="post-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h3>
                                  <ul class="post-meta">
                                    <li>{{item.published|date:"F j, Y"}}, <i class="lni-eye"></i> {{item.views}} </li>
                                    <li class="blog-blurb">{{item.content|truncatewords:20 | safe}}</li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}