{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Meditation</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <section class="mt-1 mb-5">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 col-md-6">
                          <h3 class="section-heading text-uppercase mb-3">What to expect in a typical class:</h3>
                          <p>Meditation has been shown to be a powerful tool to release and manage stress and to help maintain a healthy balance of body and mind. By learning and practicing simple meditation and yogic breathing techniques the mind becomes more peaceful and healthy, creating a calmer more balanced state of being.</p>
                          <p>These tools when applied regularly create an awareness of life helping us become more present and focused in our daily lives by shifting our thoughts away from our usual preoccupations towards an appreciation of each moment, giving us a larger perspective on life.</p>
                          <p>We will work with the idea that it is not about forcing the mind to be quite but about finding the silence that is already there and making it a part of your daily life.</p>
                          <p>From this field of pure potentiality we get our bursts of inspiration, our most intuitive thoughts and our deepest sense of connection to ourselves and the universe.</p>
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <img src="{% static 'img/meditation-image.jpg' %}" alt="Meditation" class="class-image">
                      </div>
                  </div>
              </div>
          </section>
          <section class="mt-1 mb-1">
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-6 p-5 class-benefits">
                          <h3 class="section-heading text-uppercase mb-3">We will practice:</h3>
                          <ul class="class-details">
                              <li>How to begin a daily mindfulness meditation practice at home</li>
                              <li>Postures specifically designed to open the hips, shoulders and lower back so you can sit with greater ease and comfort.</li>
                              <li><strong>Chakra Meditations:</strong> you will be given an understanding of the energy body i.e the chakras and how they work and what they relate to in the body on a physical, mental and emotional level.</li>
                              <li>Meditations and breath work to cleanse, clear and balance our chakras</li>
                              <li>The Munay Ki Rites, (<a href="http://www.munay-ki.org" target="_blank">www.munay-ki.org</a> (this is optional) will be offered throughout the course to help raise the frequency at which your energetic body vibrates helping your energy to flow much freer. Receiving these rites will bring about a much deeper meditation practice that will be far more effective bringing you to a new heightened level of consciousness.</li>
                              <li>This course is great if you have trained in Reiki/Seichem or Bio Energy or any other forms of energy work helping you to re-connect and add to what you have already learned but it is not necessary to have done any energy work either as all will be taught throughout the course.</li>
                              <li>We will work with affirmations and techniques like cutting of the ties that will help us let go of things in our lives that we no longer need and help us bring in what we do want in our lives.</li>
                              <li>Breathing techniques to help with stress relief and bring about a sense of calm.</li>
                              <li>Yoga Nidra - Deep Relaxation techniques to help relax the entire body and mind.</li>
                              <li>Shamanic Journeying with the drum</li>
                              <li>And much much more!!!</li>
                          </ul>
                      </div>
                      <div class="col-12 col-md-6 p-5 class-who-its-for">
                          <h3 class="mb-3 section-heading text-uppercase">Some of the many Benefits:</h3>
                          <ul class="class-details">
                              <li>Creates better focus, concentration and peace of mind so we see life more clearly</li>
                              <li>By focusing on the here and now, many people who practice meditation find that they are less likely to get caught up in worries about the future or regrets over the past, are less preoccupied with concerns about success and self-esteem, and are better able to form deep connections with themselves and others.</li>
                              <li>Helps relieve Stress</li>
                              <li>More energy</li>
                              <li>A sense of grounding and wellbeing</li>
                              <li>Balance and inner harmony</li>
                              <li>Lower blood pressure</li>
                              <li>Improved sleep</li>
                          </ul>
                      </div>                
                  </div>
              </div>
          </section>
          <section class="mt-5 mb-5">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <h3 class="text-center text-uppercase mb-3 section-heading">What exactly is Meditation?</h3>
                          <p>It's a busy world. You fold the laundry while keeping one eye on the kids and another on the television. You plan your day while listening to the radio and commuting to work, and then plan your weekend. But in the rush to accomplish necessary tasks, you may find yourself losing your connection with the present moment, with yourself missing out on what you're doing and how you're feeling.</p>
                          <p>Meditation helps you become fully present and aware in each moment and accepting it without judgement. Whatever you do with awareness is Meditation.</p>
                          <p>Meditation begins when we discover that our never-ending quest to possess material things and our continual craving for pleasure and security can never be satisfied in the external world. When we finally realize this, our external quest turns inward, and we have shifted into the realm of meditation. Meditation is the cornerstone of yoga with many benefits one of the main ones being stress relief bringing you to a deeper sense of calm and relaxation.</p>
                          <p>Mindfulness Meditation is now being examined scientifically and has been found to be a key element in happiness.</p>
                          <p>Most people live whether physically, intellectually or morally in a very restricted circle of their potential being. We all have reservoirs of life to draw upon of which we do not even dream we have.</p>
                          <h4 class="teal-h4">Your mind is like a garden. If you care for your mind and nurture it and if you cultivate it just like a fertile garden it will blossom far beyond your expectations But if you let the weeds grow, lasting peace of mind and deep inner harmony will always elude you.</h4>
                      </div>
                  </div>
              </div>
          </section>          
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}