{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Pregnancy Yoga</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <section class="mt-5 mb-5">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12 col-md-6">
                              <h3 class="section-heading text-uppercase mb-3">What to expect in a typical class:</h3>
                              <p>In a supportive and nurturing environment this class will help reduce the aches and pains that can accompany pregnancy while helping to tone and prepare the body and mind for birth. Gentle Yoga poses and breathing techniques will be taught to cultivate health and calmness for both mother and child. It is a gift for yourself and for your baby and, if you are lucky, it may be the start of a whole new passion!</p>
                              <h3 class="section-heading text-uppercase mt-2 mb-3">Who is it for?</h3>
                              <p>This class is suitable for women who are 14 weeks pregnant or over even if you have never done yoga before and can be done right up to giving birth.</p>
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <img src="/static/img/pregnancy-yoga-image.jpg" alt="Pregnacy Yoga" class="class-image">
                          </div>
                      </div>
                  </div>
              </section>
              <section class="mt-5 mb-5">
                  <div class="container">
                      <div class="row">
                          <div class="col-12 p-5 class-benefits">
                              <h3 class="mb-3 section-heading text-uppercase">Benefits:</h3>
                              <div class="row">
                                  <div class="col-12 col-md-6">
                                      <ul class="class-details">
                                          <li>Improving muscle strength and tone</li>
                                          <li>Promotes a healthy pregnancy</li>
                                          <li>More Energy</li>
                                          <li>Enhances mood and wellbeing</li>
                                          <li>Great posture</li>
                                          <li>Supportive atmosphere</li>
                                          <li>Better breathing</li>
                                      </ul>
                                  </div>
                                  <div class="col-12 col-md-6">
                                      <ul class="class-details">
                                          <li>Focuses your mind</li>
                                          <li>Helps you stay relaxed and positive</li>
                                          <li>Gives you confidence to move through your pregnancy with ease and grace</li>
                                          <li>Can help with an easier labour</li>
                                          <li>Bonding with your baby</li>
                                          <li>Great place to meet new mums in your area</li>
                                      </ul>
                                  </div>
                          </div>
                  </div>
                      </div>
                  </div>
              </section>
              <section class="mt-5 mb-5">
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              
                          </div>
                      </div>
                  </div>
              </section>           
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}