{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Reformer Bed</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
         <section class="mt-1 mb-5">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h3 class="section-heading text-uppercase text-center mb-3">Reformer Bed Pilates will change your shape and shape your life!</h3>
                  </div>
                </div>
                  <div class="row">
                      <div class="col-12">
                          <p>Just had a baby ? Getting married ? Going on holidays ? Have a special occasion that you want to look your best for ? Or want to kick start a fitness regime? Then the Reformer Pilates Bed is for you . It will have you looking and feeling your very best with more energy and confidence to enjoy whatever the occasion or reason is you are focusing on!</p>
                          <p>We offer affordable 1 hour private one-on-one classes . If you are looking for a personalised program to achieve certain goals quickly, safely and effectively at a time which suits you then private classes are for you.</p>
                          <p>At the initial class we will discuss your goals and what exactly you wish to achieve whether its working on flatter abs ,strengthening your back, toned arms, legs, thighs, bum , cardio or all of the above a tailor made program will be designed for you to have you looking and feeling your very best whatever the occasion.</p>
                          <p>Because of The Reformers unique way of preforming many exercises in so many different positions you are able to tone, strengthen and stretch parts of your body you didn't even know existed that no other machine can !! There are hundreds of exercises which have been developed to challenge every muscle in your body to provide a unique type of workout with lots of variety.</p>
                          <p>We also use the Reformer Jump Board so you can have a cardio workout by jogging, jumping, performing jumping jacks and more all while lying down with minimal impact on your joints!</p>
                          <p>We can adjust the settings and tension of the springs on the equipment to change the intensity of your workout, and focus specifically and safely on different parts of the body to achieve your goals. We also utilize small apparatus and the Pilates mat exercises to give you a rounded workout.</p>
                          <p>You can also create your own package incorporating the Reformer Bed , Yoga session and Reiki Access Consciousness Healing for a total Body Mind and Soul package !!</p>
                          <p><strong>Contact Niamh 087 9031784 for further information or to book your session today.</strong></p>
                          <hr class="mt-5 mb-5 text-center" style="width:50%;">
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <h3 class="section-heading text-left mb-3">REFORMER ONE TO ONE PACKAGES:</h3>
                              <ul class="class-details">
                                  <li>Single Session - &euro;45</li>
                                  <li>5 Sessions - &euro;200 (Only &euro;40 a session)</li>
                                  <li>10 Sessions - &euro;350 (Only &euro;35 a session)</li>
                              </ul>
                              <p>Or create your own package incorporating the Reformer Bed, Yoga session and Reiki Access Consciousness Healing for a total Body Mind and Soul package!!</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <img src="/static/img/reformer-bed-image.jpg" class="class-image">
                        </div>
                      </div>
                      </div>
                  </div>
              </div>
          </section>
            
        </div>
    </div>
</div>
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga practice today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class pack now</a>
                </div>                
            </div>
    </div>  
    </div>
</div>
{% endblock %}