{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Timetable</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga practice today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class pack now</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}