{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Timetable</h1>
      </div>
    </div>
    <div class="container mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered text-center">
                          <thead>
                            <tr>
                              <th>Monday</th>
                              <th>Tuesday</th>
                              <th>Wednesday</th>
                              <th>Thursday</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="row" class="timetable-fusion p-1"><p class="timetable-time">10:00 - 11:00 am</p>
                              <h5 class="timetable-name">FUSION FLOW</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-blank"></td>
                              <td scope="row" class="timetable-pilates p-1"><p class="timetable-time">10:30 - 11:30 am</p>
                              <h5 class="timetable-name">PILATES</h5>
                              <p class="timetable-level">LEVELS 2/3</p><p>(Ruth)</p></td>
                              <td scope="row" class="timetable-blank"></td>
                            </tr>
                            <tr>
                              <td scope="row" class="timetable-pregnancy p-1"><p class="timetable-time">7:00 - 8:00 pm</p>
                              <h5 class="timetable-name">PREGNANCY YOGA</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-yogalates p-1"><p class="timetable-time">7:00 - 8:00 pm</p>
                              <h5 class="timetable-name">YOGALATES</h5>
                              <p class="timetable-level">LEVEL 2/3</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-yogalates p-1"><p class="timetable-time">7:00 - 8:00 pm</p>
                              <h5 class="timetable-name">YOGALATES</h5>
                              <p class="timetable-level">LEVEL 1/2</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-yogalates p-1"><p class="timetable-time">7:00 - 8:00 pm</p>
                              <h5 class="timetable-name">YOGALATES</h5>
                              <p class="timetable-level">LEVEL 2/3</p><p>(Niamh)</p></td>
                            </tr>
                            <tr>
                              <td scope="row" class="timetable-barre p-1"><p class="timetable-time">8:05 - 9:05 pm</p>
                              <h5 class="timetable-name">TOTAL BARRE</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-heated p-1"><p class="timetable-time">8:05 - 9:05 pm</p>
                              <h5 class="timetable-name">BIKRAM HOT YOGA</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-barre p-1"><p class="timetable-time">8:05 - 9:05 pm</p>
                              <h5 class="timetable-name">TOTAL BARRE</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                              <td scope="row" class="timetable-meditation p-1"><p class="timetable-time">8:05 - 9:30 pm</p>
                              <h5 class="timetable-name">MEDITATION</h5>
                              <p class="timetable-level">ALL LEVELS</p><p>(Niamh)</p></td>
                            </tr>                            
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
    <section>
        <div class="container mt-1 mb-5">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center text-md-left">PRICES:</h3>
                    <p>(All courses are 8 weeks except when specified)</p>
                    <ul>
                        <li>&euro;85 - Yogalates, Total Barre, Heated Power Yoga, Pregnancy Yoga</li>
                        <li>&euro;85 - Pilates</li>
                        <li>Combine 2 classes a week for only &euro;155</li>
                        <li>Combine 3 classes a week for only &euro;210</li>
                    </ul>
                    <p>Drop in 15 euro if places available (places must be booked prior to class).</p>
                    <hr class="mt-5 mb-5 text-center" style="width:50%;">
                    <h3 class="text-center text-md-left">REFUND POLICY:</h3>
                    <p>To help things run as smoothly as possible and to avoid disappointment for yourself or others wanting to attend classes we would appreciate if you could take note of the following information.</p>
                    <p>Should you pre-book an 8-week course, and miss a class, you can make up your missed class by attending another class during that 8-week course. It is best to call/text beforehand to check if there's a place available in other classes to avoid disappointment. It is not possible, however, to carry forward missed classes from a pre-booked course into the next session.</p>
                    <p>There are no refunds for non-attendance. If you pre-book a course and then cant make the course, please let us know as soon as you can as there are often waiting lists for classes, so once we know we can let someone else avail of your place instead. We appreciate your co-operation. </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga practice today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class pack now</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}