{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Total Barre</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <section class="mt-1 mb-5">
                <div class="container">
                  <div class="row mb-2">
                    <div class="col-12">
                      <h4 class="teal-h4 text-center">Blending Pilates and Yoga with Dance, with the support of a ballet barre, this is one of the most fun ways to sculpt long lean, and toned muscles. Never dread another workout again!!</h4>
                    </div>
                  </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <p>All the way from New York this new lively and vigorous workout is growing fast in popularity across the country, we are the first in Galway to bring TOTAL BARRE Classes from STOTT PILATES NEW YORK.</p>
                            <p>Sculpt long, lean and toned muscles with this energizing and dynamic class designed to challenge and change your body.</p>
                            <p>Total Barre efficiently blends Pilates and Yoga with dance, cardio and strength-training specifically challenging arms, legs and core to strengthen and lengthen the body.</p>
                            <p>Powered by energizing music that makes you want to move, this class uses choreographed movement patterns with the support of a ballet barre ( no dance experience or tutus required !!) to take you through a flow of high-powered sequences that will keep you energized and motivated.</p>
                            <p>Each session incorporates a variety of props to keep your body (and mind!!) guessing and also offers modifications that will continually keep you motivated an energized.</p>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <img src="{% static 'img/total-barre-image.jpg' %}" alt="Total Barre at Headford Wellbeing Centre" class="class-image">
                        </div>
                    </div>
                </div>
            </section>          
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}