{% extends 'base.html' %}
{% block content %}
<div class="container-fluid m-5">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">What Do I Need?</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-heading text-uppercase text-center mb-3">Some helpful tips if you are new to the centre</h3>
                <div id="accordion" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                        <a class="card-title">
                                            Food & Drink
                                        </a>
                                    </div>
                        <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                                        <p>It’s best to practice on an empty stomach. It is recommended that you do not eat at least two hours before class. If you need to, eat something easily digestible like fruit or yoghurt.</p>
                                        <p>Come well hydrated to class making sure you drink water throughout the day and plenty after class also.</p>
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <a class="card-title">
                                          Mats
                                        </a>
                                    </div>
                        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
                                        <p>It is recommended that you have your own yoga mat. There are mats at the studio that you are more than welcome to use but it’s more hygienic to own your own as all classes are done in bare feet.</p>
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <a class="card-title">
                                         Clothing
                                        </a>
                                    </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion" >
                                        <div class="card-body">
                                            <p>Wear clothes that allow you to move/stretch with ease and your body to breath ( T-Shirts should not be too loose though, as they will come over your head in forward bends 🙂 )</p>
                                        </div>
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        <a class="card-title">
                                            Mobiles
                                        </a>
                                    </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion" >
                                        <div class="card-body">
                                            <p>Wear clothes that allow you to move/stretch with ease and your body to breath ( T-Shirts should not be too loose thPlease make sure mobile phones are switched OFF.</p>
                                        </div>
                                    </div> 
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseFive">
                                        <a class="card-title">
                                            Injuries &amp; Illness
                                        </a>
                                    </div>
                        <div id="collapseFive" class="card-body collapse" data-parent="#accordion" >
                                        <p>Make sure your teacher is aware of any pre-existing condition or injury that might affect your practice. Listen to your body and practice within your body’s limitations.</p>
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                        <a class="card-title">
                                          Extras for Hot Yoga
                                        </a>
                                    </div>
                        <div id="collapseSix" class="card-body collapse" data-parent="#accordion" >
                                        <p>The room is hot, be prepared to sweat! Wear lightweight breathable clothes.</p>
                                        <p>Bring a towel to cover your mat and change of clothes for afterwards.</p>
                                        <p>Highly recommended you use your own mat for Hot Yoga for hygiene reasons.</p>
                                        <p>Proper hydration is important. Don’t try to hydrate in class. Sips of water are fine, but ultimately you want no food or liquid in your stomach during the practice. Drink plenty of water throughout the day you are coming to class and also after class.</p>
        
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                        <a class="card-title">
                                         Parking
                                        </a>
                                    </div>
                        <div id="collapseSeven" class="collapse" data-parent="#accordion" >
                                        <div class="card-body">
                                            <p>There are plenty of parking spaces at the square beside Keadys Supermarket which is only a 1 minute walk from the centre. Please do not park on the road outside the centre as this is for the residents of the area and also certain parts are on a dangerous corner.</p>
                                        </div>
                                    </div>
                        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                        <a class="card-title">
                                            Enjoy
                                        </a>
                                    </div>
                        <div id="collapseEight" class="collapse" data-parent="#accordion" >
                                        <div class="card-body">
                                            <p>Yoga/Pilates is not a competitive sport! And it’s not just a ‘workout’. It is a multi-dimensional spiritual practice, which makes the body, mind and spirit stronger, more flexible and generally much healthier. Calm your mind, open your heart and enjoy yourself.</p>
                                            <p>Be kind to yourself. Take rests. Remember wherever you are; you are perfect.</p>
                                        </div>
                                    </div>                             
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga practice today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class pack now</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}