{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Yogalates</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
    <section class="mt-2 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h3 class="section-heading text-uppercase mb-3">What to expect in a typical class:</h3>
                    <p>Each class offers something new and challenging for you each week as no two classes are the same. A regular Yogalates session will include Yoga and Pilates exercises and poses (asana) to cultivate strength, tone, stamina, stability and flexibility with particular attention paid to building tone in the deeper postural "core" muscles as well as focusing on toning the arms, thighs and hip area.</p>
                    <p>Yoga and Pilates Equipment such as blocks, resistance bands (which replicate the resistance training of the Pilates machines), light weights and Pilates Rings are used to further enhance strength and tone in all areas.</p>
                </div>
                 <div class="col-sm-12 col-md-6">
                    <img src="/static/img/yogalates-image.jpg" alt="Yogalates" class="class-image">
                </div>                
            </div>
        </div>
    </section>
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 p-5 class-benefits">
                    <h3 class="section-heading mt-3 mb-3 text-uppercase">Benefits:</h3>
                    <ul class="class-details">
                        <li>Develops lean, toned muscle and general fitness</li>
                        <li>Core Strength, flatter firmer Abs</li>
                        <li>Strengthens back and torso</li>
                        <li>Develops postural alignment</li>
                        <li>Weight loss</li>
                        <li>Increased Flexibility and energy</li>
                        <li>Increased body confidence</li>
                        <li>A connection with self which helps to soothe the nervous system, release stress, aid relaxation and inner calm</li>
                        <li>Overall sense of Health and Wellbeing</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 p-5 class-who-its-for">
                    <h3 class="section-heading mt-3 mb-3 text-uppercase">Who is it for:</h3>
                    <ul class="class-details">
                        <li>Yogalates is suitable for all ages and levels. We believe everybody is unique, so individuals are encouraged to work at their own pace and level, customized exercises for less advanced clients will be advised and time for rest and relaxation is offered at any stage throughout a class.</li>
                        <li>Particularly beneficial for post natal women</li>
                        <li>Very safe and accessible method making it ideal for sufferers of back pain, arthritis, and osteoporosis</li>
                    </ul>
                </div>                
            </div>
        </div>
    </section>
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading text-center text-uppercase mb-3">What exactly is Yogalates Fusion?</h3>
                    <p>Yogalates method is a comprehensive exercise system which successfully fuses the practices of Yoga and Pilates. Since Yogalates was introduced to the Headford Wellbeing centre almost 3 years ago it has steadily gained popularity as being a method which makes the disciplines of Yoga and Pilates easily available to anyone. Yogalates effectively merges the ancient practice of Yoga from the east with the core stabilizing, posture enhancing dynamics of Pilates from the west.</p>
                    <p>YOGA postures enhance strength, tone, energy, stamina, improved flexibility, balance and mental clarity. Through developing a conscious awareness of the body, mind, and breath, it also has the ability to be deeply relaxing, health enhancing and in turn relieve stress.</p>
                    <p>Yoga works from the inside out. The reasons behind our enhanced levels of health are less understood. Each time you do Yoga you will stimulate, cleanse and nourish your body by compressing, stretching and massaging every gland and internal organ in your body, releasing toxins on a regular basis. In turn we have better digestion, we are less prone to illness, have more energy and our body functions more efficiently helping you to achieve optimal health.</p>
                    <h4 class="teal-h4">Yoga is the only activity able to massage all the internal organs and glands of the body thoroughly and in a balanced way. It reaches the parts of the body no other exercise can.</h4>
                    <p>PILATES is known globally as a system of exercises that build core strength and are designed to restore the natural curves of the spine. It promotes correct alignment and good posture . Pilates is a movement technique that creates an elongated and more balance body, firmer and flatter abdominals and a toned and stronger body.</p>
                    <p>Pilates can help enchance sporting activities, assist in injury rehabilitation and supports those with back problems through re-educating the body's postural muscles to create a very safe and strong foundation for movement.</p>
                    <h4 class="teal-h4">Pilates helps you achieve the suppleness, grace and skill that will be unmistakably reflected in the way you walk, the way you play and the way you work. </h4>
                </div>
            </div>
        </div>
    </section>              
        </div>
    </div>
</div>
<!--Call to Action - Signup for Classes -->
<div class="container-fluid classes-booking-section">
  <div class="row">
      <div class="container">
            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-md-8 align-items-center">
                    <h2 class="class-section-heading">Start your yoga journey today!</h2>
                </div>
                <div class="col-12 col-md-4 align-items-center">
                    <a href="/shop" class="btn-purple-classes btn-big">Book your class now!</a>
                </div>                
            </div>
    </div>  
  </div>
</div>
{% endblock %}