{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">{% trans "Password Reset" %}</h1>
      </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-80">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <p>{% blocktrans %}Please <a href="/contact">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form | as_bootstrap_inline }}
                <input type="submit" class="primaryAction btn btn-teal" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
        </div>
    </div>
</div>
            
{% endblock %}
