{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">{% trans "Change Password" %}</h1>
      </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-80">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form | as_bootstrap_inline }}
                    <button type="submit" class="primaryAction btn btn-teal" name="action">{% trans "Change Password" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
