{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap_tags %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">{% trans "Sign Up Closed" %}</h1>
      </div>
    </div>  
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-80">
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
