{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<!--News Layout-->
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Workshops</h1>
      </div>
    </div>
    <div class="container mb-5">
        {% for events in workshop_events %}
        <div class="row">
            <div class="col-sm-12 workshop-box">
                <div class="row">
                    <div class="cols-sm-6 col-md-4">
                        <a class="post-img" href="{{ events.get_absolute_url }}"><img src="{{events.image.url}}" alt="{{events.title}}"></a>
                    </div>
                    <div class="cols-sm-6 col-md-8">
                        <h4>{{events.title}} - &euro;{{events.price}}</h4>
                        <i class="lni-timer purple-icon"></i> {{events.workshop_start_date|date:"M d, Y"}}, {{events.workshop_start_time}}<i class="lni-map-marker purple-icon"></i> {{events.workshop_location}}
                        <p>{{events.description|truncatewords:30 | safe}}</p>
                        <a href="{{ events.get_absolute_url }}" class="btn btn-teal">More details</a>
                        <!--<a href="../add/{{ events.slug }}" class="btn btn-success">Add to Cart</a>-->
                    </div>
                </div>                
            </div>
        </div>
      {% empty %}
      <p>We currently have no workshops running. Please check back again soon for updates.</p>
        {% endfor %}
    </div>        
</div>
{% endblock %}