{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<!--News Layout-->
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Test</h1>
      </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="homepage-title-content">
                <div class="section-pre-title">Don't miss out</div>
                    <h2 class="section-title">Upcoming Workshops</h2>
                </div>
        </div>
        {% for events in workshop_events %}
        <div class="row">
            <div class="col-sm-12 workshop-box">
                <div class="row">
                    <div class="cols-sm-6 col-md-4">
                        <a class="post-img" href="{{ events.get_absolute_url }}"><img src="{{events.image.url}}" alt="{{events.title}}"></a>
                    </div>
                    <div class="cols-sm-6 col-md-8">
                        <h4>{{events.title}} - &euro;{{events.price}}</h4>
                        <i class="lni-timer">{{events.workshop_start_date|date:"M d, Y"}}, {{events.workshop_start_time}}</i><i class="lni-map-marker"></i> {{events.workshop_location}}
                        <p>{{events.description|truncatewords:30 | safe}}</p>
                        <a href="../add/{{ events.slug }}" class="btn btn-teal">More details</a>
                        <!--<a href="../add/{{ events.slug }}" class="btn btn-success">Add to Cart</a>-->
                    </div>
                </div>                
            </div>
        </div>
        {% endfor %}
    </div>        
</div>
{% endblock %}