html, body {
    overflow-x: initial;
}

body {
    font-family: 'Poppins', sans-serif;
    position:relative;
    padding-bottom:350px;
    z-index: -2;
}

ul, ol {
    list-style: none;
}

a {
    color:#7ab5a7;
}

a:hover {
    color:#9d6381;
}

a, button {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

a, a > * {
    text-decoration: none;
    outline: none !important;
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border:none;
}

input, button {
    -webkit-appearance: none;
    outline: none;
}

label {
    font-size: 18px;
    font-family: Poppins;
}


/* Navigation */

/*------Style for Navigation-----*/
.homepage-nav {
  background:transparent /*rgba(57,47,35,0.9)*/;
  margin: 25px auto;
}

.nav-link {
  font-family:'Poppins', sans-serif;
  font-size:18px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link, .homepage-nav button a {
  color:rgb(57,47,35)
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .homepage-nav button a:hover {
  color:#7ab5a7;
  text-decoration: none;
}

.nav-active {
  color:#7ab5a7;
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0.9);
  border-color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(57, 47, 35, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbardrop {
  padding-top: 16px;
}

.dropdown-item {
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  color:#392f23;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #392f23;
  text-decoration: none;
  background-color: rgba(153,184,209,0.3);
}

.homepage-nav button {
    background:transparent;
    font-size: 20px;
}

[class*="btn"].nav-btn {
  padding: 10px 22px 9px;
  letter-spacing: 0.5px;
  font-size: 16px;
  background: #7ab5a7;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 30px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 26px;
}

#homepage-carousel {
    width:100%;
}

.carousel-caption {
    z-index: 10;
    text-align: left;
}

.slider-left-aligned {
    bottom: 30%;
    left: 10%;
}

.slider-right-aligned {
    bottom: 30%;
    left: 50%;
}

.carousel-caption .section-pre-title {
    color:#fff;
}

.carousel-caption .section-pre-title::before {
    background: #fff;
}

.carousel-caption button a {
    color:#fff;
    text-transform: uppercase;
}

.homepage-info-box-1 {
    background: url('https://deevdzfinalproject.s3-eu-west-1.amazonaws.com/static/img/homepage-new-to-yoga.png') no-repeat;
}

.homepage-info-box-2 {
    background: url('https://deevdzfinalproject.s3-eu-west-1.amazonaws.com/static/img/homepage-inside-our-centre.png') no-repeat;
}
.homepage-info-box-3 {
    background: url('https://deevdzfinalproject.s3-eu-west-1.amazonaws.com/static/img/homepage-reformer-bed.jpg') no-repeat;
}

.hoverinfobox,
.hoverinfobox * {
	box-sizing: border-box;
}
.hoverinfobox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.hoverinfobox_background {
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hoverinfobox .hoverinfobox-layer_bottom {
	display: block;
}
.hoverinfobox .hoverinfobox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hoverinfobox:hover .hoverinfobox-layer_top,
.hoverinfobox.active .hoverinfobox-layer_top {
	opacity: 1;
}
.hoverinfobox .hoverinfobox-text {
	text-align: left;
	font-size: 16px;
	display: inline-block;
	position: absolute;
	top: 60%;
	left: 45%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hoverinfobox .hoverinfobox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hoverinfobox.active .hoverinfobox-text_mobile {
	display: block;
}
.hoverinfobox .hoverinfobox-layer_slideleft {
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}
.hoverinfobox:hover .hoverinfobox-layer_slideleft,
.hoverinfobox.active .hoverinfobox-layer_slideleft {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

/* Page Content */
.main-content {
    min-height:100vh;
    background-color:#fff;
}


.header-wrap {
    background: #f9f9f9;
        background-attachment: scroll;
        background-size: auto;
    padding: 64px 0;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:60px;
}

[class*="page-section"] {
    padding: 100px 0;
    position: relative;
}

.page-section-grey {
    background: #f9f9f9;
        background-attachment: scroll;
        background-size: auto;
}

.homepage-events-section {
    background: url('https://deevdzfinalproject.s3-eu-west-1.amazonaws.com/static/img/homepage-events-section-bgrd.jpg') no-repeat;
    background-size: cover;
}

.section-pre-title, .section-pre-title a {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #754b75;
    letter-spacing: 1px;
    padding-left: 60px;
}

.section-pre-title::before {
    content: '';
    left: 0;
    top: 50%;
    background: #baa5ba;
    height: 1px;
    width: 40px;
    position: absolute;
    display: block;
}

.homepage-title-content-white .section-pre-title, .homepage-title-content-white .section-pre-title a {
    color: #fff;
}

.homepage-title-content-white .section-pre-title::before {
    background: #fff;
}

.box-section-pre-title, .section-pre-title a {
    position: relative;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 60px;
    padding-top:40px;
    font-family:Prata;
}

.box-section-pre-title::before {
    content: '';
    left: 0;
    top: 50%;
    background: #fff;
    height: 1px;
    width: 40px;
    position: absolute;
    display: block;
    margin-top:20px;
}

.box-section-pre-title:hover {
    content: '';
    left: 0;
    top: 50%;
    background: #fff;
    height: 1px;
    width: 40px;
    position: absolute;
    display: block;
    margin-top:20px;
}

.homepage-title-content h2 {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.1px;
    font-family: Prata;
}

.homepage-title-content-white h2 {
    color:#fff;
    line-height: 72px;
    letter-spacing: -0.1px;
    font-family: Prata;  
    font-size:48px;
}

.homepage-event-white-box {
    background:rgba(255,255,255,0.3);
    padding: 20px;
    margin-bottom: 20px;
}

.homepage-event-white-box a {
    color:#fff;
}

a.no-decoration:hover {
    text-decoration: none !important;
    color: transparent !important;
}

/*About Page */
.about-quote-section {
  background-color: #f9f9f9;
  padding:20px 10px;
}

h2.section-heading  {
    font-family: Prata;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3.section-heading  {
    font-family: Prata;
    font-size: 20px;
    letter-spacing: 1px;
}

.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	}	

.gal img{ width: 100%; padding: 7px 0;}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #9d6381;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -60%);
  background: #fafafa;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #9d6381;
  text-align: center;
}

/*Class Pages */
ul.class-details {
    list-style-type: disc;
}

.teal-h4 {
    color:#7ab5a7;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 20px;
    margin: 20px auto;
}

.class-image {
    width:100%;
}

.class-benefits {
    background-color:rgba(122,181,167,0.2);
}

.class-who-its-for {
    background-color:rgba(153,184,209,0.4);
}

.classes-booking-section {
    background: url('/static/img/classes-footer-bgrd-image.png') #7ab5a7 repeat center center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.class-section-heading {
    font-size: 2.5em;
    color:#fff;
    text-transform: capitalize;
    font-family: Prata;
}
.btn-purple-classes {
    color:#fff;
    background-color:#9d6381;
    border-color:#9d6381;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.btn-purple-classes a {
    color:#fff;
}

a.btn-purple-classes:hover {
    color:#fff !important;
    text-decoration: none;
}

/*----- Timetable Styles -----*/
.timetable-header-container {
    height: 70vh;
    background: url('../images/timetable-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}
.timetable-fusion {
  background:rgb(65, 57, 91);
  color:#fff;
}

.timetable-pilates {
  background-color:rgb(127, 75, 142);
  color:#fff;
}

.timetable-pregnancy {
  background-color:rgb(154, 184, 209);
  color:#fff;
}

.timetable-yogalates {
  background-color:rgb(105, 156, 144);
  color:#fff;
}

.timetable-barre {
  background-color:rgb(35, 50, 57);
  color:#fff;
}
.timetable-heated {
  background-color:rgb(57, 47, 35);
  color:#fff;
}
.timetable-meditation {
  background-color:rgb(39, 76, 119);
  color:#fff;
}

.timetable-blank {
  background-color:#efefef;
}

.timetable-time {
  font-weight: 600;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  font-size: 0.9em;
}

.timetable-name {
  font-weight:600;
}

.timetable-level {
  margin-bottom: 0;
  margin-top: 1rem;
}


/*Workshop Page */
.workshop-box {
    background:#fafafa;
    border-radius: 2px;
    padding: 20px;
}

.purple-icon {
    color:#9d6381;
}

.workshop-detail-image {
    height:300px;
    width:100%;
}

/* Blog Items */
.blog-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.post {
    position: relative;
    margin-bottom: 30px;
}

.post .post-img {
    display: block;
    overflow: hidden;
}

.post-img > img {
    width: 100%;
    -webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
}

.post .post-body {
    position: relative;
    margin: -50px 0px 0px 3%;
    padding: 5%;
    background: rgba(206,204,204,0.3);
    z-index: 10;
}

.post .post-category {
    margin-bottom: 20px;
}

.post-category a {
    background: #7ab5a7;
    color: #fff;
    padding: 1px 8px;
    border-radius: 10px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.post-category a:hover {
    background: #9d6381;
}

.post .post-title {
    font-size: 18px;
}

.post .post-title a {
    color:#112a26;
}

.post .post-meta {
    margin-bottom: 10px;
}

ul.post-meta  {
    padding-left: 5px;
}

.post-meta li {
    display: inline-block;
    color: #97989b;
    font-size: 12px;
    text-transform: uppercase;
}

.blog-blurb {
    text-transform: none !important;
    padding-top: 15px;
}

.post-meta i {
    font-size: 14px;
    padding: 5px;
}

.page-link {
    padding: .5rem 1rem;
    border-radius: 50%;
    margin: auto 1px;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 50%;
    color:#7ab5a7;
}

.blog-button i,  .blog-button a{
    color:#fff;
    padding:1px;
}

.post-comments-header h3 {
    font-size: 1.2rem;
    font-family: Prata;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comment-body {
    margin: 15px auto 15px 50px;
}
.comment-body p {
    font-size: 14px;
}

.add-comment {
    border-top: 1px dotted #cecccc;
    padding-top: 10px;
    margin-top: 40px;
}

.no-of-comments {
    margin-left:10px;
}

.add-comment h3 {
    font-size: 1rem;
    font-weight: 400;
    font-family: Poppins;
    margin: 20px auto;
    color: #9d6381;
}

.btn-teal {
    color: #fff;
    background-color: #7ab5a7;
    border-color: #7ab5a7;
}

.user i {
    background: #7ab5a7;
    border-radius: 50%;
    padding: 10px;
    margin: 10px 10px 10px 0;
    color:#fff;
}

.user .title {
    text-transform: capitalize;
}

.user .date {
    text-transform: lowercase;
    font-size: 12px;
    margin-left: 10px;
}

/*News Details Page Styles */
#post-header {
    padding-top: 120px;
    padding-bottom: 80px;
}

.page-header {
    position: relative;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #1b1c1e;
}

.page-header .page-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-header .page-header-bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(27, 28, 30, 0.8)));
    background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.8) 90%);
}

.page-header .post-category {
    margin-bottom: 10px;
}


.page-header h1 {
    font-size: 41.053px;
    color: #FFF;
}

.page-header .post-meta li {
    color: #fff;
}

.post-meta li {
    display: inline-block;
    color: #97989b;
    font-size: 12px;
    text-transform: uppercase;
}

.post-nav {
    padding: 20px 0;
}

.post-nav .prev-post  {
    float: left;
    width: 45%;
    padding-right: 15px;
}

.post-nav .next-post {
    float: right;
    width: 45%;
    text-align: right;
    padding-left: 15px;
}

.post-nav .prev-post .post-img {
    float: left;
    margin-right: 15px;
}

.post-nav .next-post .post-img {
    float: right;
    margin-left: 15px;
}

.post-nav .post-img {
    display: block;
    width: 100px;
    overflow: hidden;
}

.post-nav .post-title {
    font-size: 14px;
    margin: 0px;
}

.post-nav .next-post span, .post-nav .prev-post span {
    font-weight: 700;
    color: #97989b;
    text-transform: uppercase;
    font-size: 12px;
}


/* Blog Sidebar*/
.aside-widget {
    margin-bottom: 30px;
    width: 100%;
}

.aside-widget .section-title .title {
    position: relative;
    display: inline-block;
    background-color: #fff;
    font-family: 'Prata', serif;
    letter-spacing:1px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;
}

.category-widget ul {
    padding-left:5px;
}

.category-widget ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #e8eaed;
}

.category-widget ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.category-widget ul li a span {
    float: right;
    font-size: 14px;
    color: #97989b;
    margin-left: 15px;
}


.widget.widget_search .input-holder, .widget.widget_search input {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.widget.widget_search input {
    font-size: 16px;
    color: #928c81;
    background-color: transparent;
    border: 1px solid transparent;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: 1px solid rgb(57,47,35);
    -webkit-transition: border-color .2s ease-out;
    -o-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

.widget.widget_search button {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: color:rgb(57,47,35);
    background-color: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.badge-purple {
    color: #fff;
    background-color: #9d6381;
}

.badge-purple:hover {
    color: #fff;
    background-color: #7ab5a7;
    text-decoration:none;
}

/* Shop Page */
.shop-item{
    border: 2px solid #9d6381;
    padding: 20px;
    display: inline;
    background:#f9f9f9;
    margin:10px;
}

.shop-item h4 {
    font-family: Prata;
    text-align: center;
    margin-top: 20px;
}

.shop-item p {
    font-size: 0.85rem;
    text-align: center;
}

.shop-item a:hover {
    color:#fff;
}

.shop-item img {
    width:100%;
}

/* Account Settings */
#div_id_remember {
    display: none;
}

/* Cart Page */
.shop-cart {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    border:0px;
}

.shop-cart table tr:first-child > th {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #333;
    background: #f1f1f1;
    text-transform: uppercase;
}


.shop-cart tr th.product-col {
    width: 450px;
}

.cart-change {
    padding: 5px;
    color: #333;
    border: 1px solid;
    border-radius: 50%;
    margin: 5px 8px;
    font-size: 10px;
    font-weight: 300;
}

.btn-purple {
    color: #fff;
    background-color: #9d6381;
    border-color: #9d6381;
    margin-right:10px;
}

.cart-dustbin {
    display: inline-block;
    width: 7%;
}

.cart-title {
    display: inline;
}

/* Contact Page */
.form-control-plaintext {
    background:#efefef;
    padding-left:10px;
}

.contact-details h6 {
    font-weight: 400;
    color:#7ab5a7;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.95rem;
}

.contact-details p {
    font-family: Prata;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-bottom: 2em;
}

.contact-details a {
    font-family: Prata;
    font-size: 1.2em;
    letter-spacing: 1px;
    color:#212529;
    margin-bottom: 2em;
}

.contact-details a:hover {
    text-decoration: none;
}

.form-group label {
    font-size: 15px;
    color:#9d6381;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.lni-facebook-original {
    font-size: 30px;
    color:#9d6381;
}

/* Footer styles */

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:350px;
    background:#392f23;
    color:#fff;
    z-index:-1;
    font-size: 0.85rem;
}

.footer-margin {
    margin-top:60px;
}

.footer-heading {
    text-transform: uppercase;
    color:#99b8d1;
    letter-spacing:1px;
    font-size:0.75rem;
}

.btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:0.9em;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    background-color: transparent;
}

footer a {
    color:#ffffff !important;
    pointer:cursor;
}

footer a:hover {
    color:#977844 !important;
    text-decoration:none;
}

/* Margin Styles */

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.mb-40 {
    margin-bottom: 40px;
}
.mb-80 {
    margin-bottom: 80px;
}