{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Checkout</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                          <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                     <div class="table-responsive shop-cart">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="product-col">Product</th>
                                    <th scope="col" class="qty-col">Quantity</th>
                                    <th scope="col" class="price-col">Price</th>
                                </tr>
                            </thead>
                            <tbody>                    
                            {% for item in order_items %}
                            <tr>
                                <td><div class="cart-title">{{ item.item.title }}</div></td>
                                <td>{{ item.quantity }}</td>
                                <td>€ {{ item.item.price | floatformat  }}</td>
                            </tr>
                            {% endfor %}
                            <tr style="background:#fbfbfb;">
                                <td></td>
                                <td>Total</td>
                                <td>€ {{ order_total | floatformat }}</td>
                             </tr>
                        </tbody>
                    </table>  
                </div>
                </div>
                <div class="row">
                    {% if savedAddress %}
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                          <legend>Use Saved Address</legend>
                          <div style="height: auto">
                            <div>
                                <p><strong>Full Name:</strong> {{ savedAddress.full_name }}</p>
                                <p><strong>Phone Number:</strong> {{ savedAddress.phone_number }}</p>
                                <p><strong>Address:</strong> {{ savedAddress.address_line_1 }}, {{ savedAddress.address_line_2 }}, {{ savedAddress.town }},
                                {{ savedAddress.county }}, {{ savedAddress.postcode }}</p>
                            </div>
                            <div>
                               <a href="{% url 'payment' %}" class="btn btn-purple float-right">Proceed to Checkout with Saved Address</a>
                            </div>
                          </div>
                        </div>
                    </div>
                    {% endif %}                    
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                        <form method="post">
                            <legend>Billing Address</legend>
                            <div id="credit-card-errors" style="display: none;">
                                <div id="alert-message block-message error" id="stripe-error-message"></div>
                            </div>
                            <div class="form-group col-md-12">
                                {% csrf_token %}
                                {{ form | as_bootstrap }}
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-teal float-right">Proceed to Payment</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}