{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Orders</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
				<div class="card" style="height: auto">
					<div class="table-responsive">
						<table class="table order-table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Order Id</th>
						      <th scope="col">Event / Voucher / Class</th>
						      <th scope="col">Status</th>
						    </tr>
						  </thead>
						  <tbody>
						    {% for order in orders %}
						    <tr>
						      <th scope="row">{{ forloop.counter }}</th>
						      <td><span style="color:#9d6381">{{ order.orderId }}</span></td>
						      <td>
						      	{% for item in order.orderitems.all %}
						      		{{ item }}
						      		<br>
						      	{% endfor %}
						      </td>
						      <td><span class="badge btn-purple">Order Successful</span></td>
						  	</tr>
						      {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 my-5 text-center">
		<a href="/" class="btn btn-teal">Back to Home</a>
	</div>
</div>

{% endblock %}