{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Pay with Stripe</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <form action="{% url 'charge' %}" method="post">
                {% csrf_token %}
                <div class="payment-button">
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ key }}"
                    data-description="Complete your order"
                    data-amount="{{ total }}"
                    data-locale="auto">
                </script>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}