{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="header-wrap">
      <div class="container-fluid">
        <h1 class="page-title">Cart</h1>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                          <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    
                    <div class="table-responsive shop-cart">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="product-col">Product</th>
                                    <th scope="col" class="price-col">Price</th>
                                    <th scope="col" class="qty-col">Quantity</th>
                                    <th scope="col" class="total-price-col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart in carts %}
                                <tr>
                                    <td><div class="cart-dustbin">{% if cart.quantity == 1 %}<a href="{% url 'remove_from_cart' slug=cart.item.slug %}"><i class="lni-trash"></i></a>{% endif %}</div><div class="cart-title">{{ cart.item.title }}</div></td>
                                    <td>€ {{ cart.item.price | floatformat  }}</td>
                                    <td><a href="{% url 'decrease_cart' slug=cart.item.slug %}"><i class="lni-minus cart-change"></i></a> {{ cart.quantity }} <a href="{% url 'add_to_cart' slug=cart.item.slug %}"><i class="lni-plus cart-change"></i></a> </td>
                                    <td>€ {{cart.get_total | floatformat  }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>Your cart is empty</td>
                                </tr>
                                {% endfor %}
                                <tr style="background:#fbfbfb;">
                                    <td></td>
                                    <td colspan="2">Total</td>
                                    <td>€ {{ order.get_totals| floatformat }}</td>
                                </tr>
                            </tbody>
                        </table>  
                        {% if order %}<a href="{% url 'checkout' %}"><button class="btn btn-teal float-right">Proceed To Checkout</button></a>{% endif %}
                        <a href="{% url 'workshops' %}"><button class="btn btn-purple float-right">Continue Shopping</button></a
                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}